@model IEnumerable<FarmciaApp.Models.MEDICAMENTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indicaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRESENTACION1.nombrePresentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOESPECIFICO1.nombreTipEsp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOFARMACO1.nombreTipoFar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOMEDICAMENTO1.nombreTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indicaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.existencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRESENTACION1.nombrePresentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOESPECIFICO1.nombreTipEsp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOFARMACO1.nombreTipoFar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOMEDICAMENTO1.nombreTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
